{% extends 'base.html' %}

{% block page_title %}About Knotcrafters.com{% endblock %}
{% block content %}
<p>Knotcrafters.com is a site dedicated to making it easy for new and old
craftspeople alike to find guides to tying all the wonderful and wacky ties
our fantastic community has created. This site is community driven, which
means we need you to help out! If you'd like to help, the website is open
source, so you can help out with the code by submitting a pull request to
our <a href="#">git repo</a>, or you can help <a href="#">submit new ties</a>.

<p>Knotcrafters.com is build and maintained by Justin Steward. The knots and
ties documented on this site were created by various members of our community.
We do our best to make sure the right people get attributed for each tie on
our site, but if we got it wrong, please <a href="/contact/">contact us</a>.</p>
{% endblock content %}
