{% extends 'base.html' %}
{% block page_title %}Contact us{% endblock %}
{% block content %}
<p>Knotcrafters is a community site. Quesitons are best directed to the following Facebook groups:
<ul>
    <li><a href="https://www.facebook.com/groups/131626637036149/">Knot Just Paracord</a></li>
    <li><a href="https://www.facebook.com/groups/123589031181901/">Krafters Kingdom</a></li>
    <li><a href="https://www.facebook.com/groups/194548893899579/">Parachute Cord Crafters</a></li>
</ul>
</p>
<p>If you want to get in touch with the developer, you can reach me by emailing <a href="mailto:justin@justinsteward.com">justin@justinsteward.com</a> or finding me on <a href="http://www.facebook.com/althalus87">facebook</a>.</p>
{% endblock content %}
