{% extends 'base.html' %}
{% load thumbnail %}

{% block page_title %} {{ object.name}} {% endblock %}
{% block content %}
<div class="row">
    <div class="span5">{{ object.bio }}</div>
    <div class="span5">
        <ul>
            {% if object.email %}<li><a href="mailto:{{ object.email }}"><i class="icon-envelope-alt"></i> email {{ object.name }}</a></li>{% endif %}
            {% if object.link_facebook %}<li><a href="{{ object.link_facebook }}"><i class="icon-facebook"></i> {{ object.name }} on facebook</a></li>{% endif%}
            {% if object.link_youtube_channel %}<li><a href="{{ object.link_youtube_channel }}"><i class="icon-youtube"></i> {{ object.name }} on youtube</a></li>{% endif %}
                {% if object.link_internet %}<li><a href="{{ object.link_internet }}"><i class="icon-globe"></i> {{ object.name }} on the internet</a></li>{% endif %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="span10">
        <ul class="thumbnails">
            {% for knot in object.knot_set.all %}
            <li class="span2">
            <div class="thumbnail">
                <a href="{{ knot.get_absolute_url }}">
                    <img src="{% thumbnail knot.photo "202x202" %}">
                    <h4>{{ knot.name }}</h4>
                </a>
            </div>
        </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
