{% extends 'base.html' %}
{% load thumbnail %}
{% block page_title %}{{ object.name }}{% endblock %}
{% block content %}
<h3 class="muted">By {{ object.creator }}</h3>
<div class="row">
    <div class="span5"><img src="{% thumbnail object.photo "600x600" %}"></div>
    <div class="span7">
        <p>{{ object.notes }}</p>
        <h3>Guides</h3>
        <ul>
            {% for link in object.link_set.all %}
            <li><a href="{{link.link}}" target="_blank">{{ link.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
