{% extends 'base.html' %}
{% load thumbnail %}
{% load linktags %}
{% block page_title %}{{ object.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="span6">
        <h3 class="muted">By {{ object.creator }}</h3>
        {% if object.other_names %}
        <h4>Also known as...</h4>
        <p> {{ object.other_names|linebreaksbr}}</p>
        {% endif %}
        {% if object.notes %}
        <h4>Notes</h4>
        <p>{{ object.notes }}</p>
        {% endif %}
    </div>
    <div class="span4"><a href="{{object.photo.url}}"><img src="{% thumbnail object.photo "300x300" %}"></a></div>
        <h3>Guides</h3>
        <ul>
            {% for link in object.link_set.all %}
            <li>{% format_link link %}</li>
            {% endfor %}
        </ul>
</div>
{% endblock content %}
